{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Fruit Detection Complete</h1><br/>
        </div>
        <div class="row">

            <img id="fruitImage" src="../static/css/img/temp/result.png" alt="fruit" >

        </div>
        
        <form method="POST" action="/upload"  enctype = "multipart/form-data">
            <div class="row">    
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Fruit Detected</span>
                    </div>
                </div>
            </div>
            <h3>Is this a {{lb}}?</h3>
            <h4><a href="/upload">Want to submit another fruit?<a></h4>
        </form>


    </div>

    <script>
        document.getElementById("uploadNav").classList.add("active");
    </script>
{% endblock %}