{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Fruit Detection Complete</h1><br/>
        </div>
        <div class="row">

            <img id="fruitImage" src="{{data.location}}" alt="fruit" >

        </div>
        
        <form method="POST" action="/upload"  enctype = "multipart/form-data">
            <div class="row">    
            </div>
            {% if 'label' in data%}
                <h3>Is this a {{data.label}}?</h3>
            {%else%}
                <h3>We're not sure what this is</h3>
            {% endif %}
            <h4><a href="/upload">Want to submit another fruit?<a></h4>
        </form>


    </div>

    <script>
        document.getElementById("uploadNav").classList.add("active");
    </script>
{% endblock %}