{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                    <div class="container">
                       <h1 class="display-1"> Verify Fruits</h1>
                       <hr>
                    <div class="row">
                    <div class="col">
                    <h3>Oh! There's nothing here.</h3>
                    <br/>
                    <p>How about you upload something?</p>
                 

                    </div>
                    </div>
                    </div>
            </div>
        </div>
        </div>

<script>


    document.getElementById("verifyNav").classList.add("active");

</script>

{% endblock %}