{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Upload Fruits</h1><br/>
        </div>
        <div class="row">
            <img id="fruitImage" src="../static/css/img/tropical.png" alt="fruit" >
        </div>

        <div class="row" id="hidden1" style="display:none">
            <p>Is this a ... ?</p>
            <div class="column">
            <form>
                <input type="radio" id="true" name="fruitValue" onclick="showFruitOptions()" value="true" checked>
                <label for="true">Yes</label><br>
                <input type="radio" id="false" name="fruitValue" value="false" onclick="showFruitOptions()">
                <label for="false">No</label><br>
                    <div id="hidden2" style="display:none">
                    <label for="fruits">Then what is it?</label><br>
                        <select id="fruits" name="fruits">
                            <option value="orange">Orange</option>
                            <option value="papaya">Papaya</option>
                            <option value="lemon">Lemon</option>
                            <option value="cocoa">Grapefruit</option>
                        </select>
                    </div>
            </form>
            </div>
        </div>
        
        <div class="row">    
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="form-control-file" accept="image/*" onchange="getImage(this)">
                </div>
            </div>
        </div>
    </div>

    <script>

    document.getElementById("uploadNav").classList.add("active");

        function getImage(image){
            if (image.files && image.files[0])
            {
                var file_reader = new FileReader();
                file_reader.onload = function (e){
                    $('#fruitImage').attr('src', e.target.result);
                };
                 file_reader.readAsDataURL(image.files[0]);
                //move following line into another function
                 document.getElementById("hidden1").style.display="inline";
   
            }
    }

    function showFruitOptions()
    {
        var wrong= document.getElementById("false");
        if (wrong.checked==true){
            document.getElementById("hidden2").style.display="inline";
        }
        else document.getElementById("hidden2").style.display="none";
    }
    </script>

{% endblock %}