{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="display-1">Upload Fruits</h1><br/>
        </div>
        <div class="row">
            <img id="fruitImage" src="../static/css/img/tropical.png" alt="fruit" style="height:250px">
        </div>
        
        <form method="POST"  enctype = "multipart/form-data">
            <div class="row">    
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Upload and Detect</span>
                    </div>
                    <div class="custom-file">
                    <input id="upload_image" name="upload_image" type="file" class="form-control-file" accept="image/*" onchange="getImage(this)">
                    </div>
                </div>
            </div>

            <div>
                <input type="submit" value="Detect" id="hidden3" style="display:none" onclick="changeImage()">
            </div>
        </form>


    </div>

    <script>

    document.getElementById("uploadNav").classList.add("active");

        function changeImage()
        {
            document.getElementById("fruitImage").src="../static/css/img/loading.gif"
        }
        function getImage(image){
            if (image.files && image.files[0])
            {
                var file_reader = new FileReader();
                file_reader.onload = function (e){
                    $('#fruitImage').attr('src', e.target.result);
                };
                 file_reader.readAsDataURL(image.files[0]);
                //move following line into another function
                 //document.getElementById("hidden1").style.display="inline";
                 document.getElementById("hidden3").style.display="inline";
   
            }
    }

    function showFruitOptions()
    {
        var wrong= document.getElementById("false");
        if (wrong.checked==true){
            document.getElementById("hidden2").style.display="inline";
        }
        else document.getElementById("hidden2").style.display="none";
    }
    </script>

{% endblock %}