{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                    <div class="container">
                       <h1 class="display-1"> Verify Fruits</h1>
                       <hr>
                    <div class="row">
                    <div class="col">
                     <ul id="image_list">
                        {% for image in images %}

                                <li id="{{image._id}}"> 
                                    <image src="{{image.fruit_image}}"  style="width:100%;max-width:300px; height:150px;" onclick="openModal('{{image.fruit_image}}', '{{image._id}}');" >
                             </li>
                           
                           
                        {% endfor %}
                    </ul>

                        <div  id="fruit_modal" onclick="hideModal()">
                                 <img id="modal_img" class="modal-content" src="/static/css/img/tropical.png"> 
                                 <div class="btn-group modal-content">
                                    <button onclick="hideItem()">None</button>
                                    <button onclick="hideItem()">Cocoa</button>
                                    <button onclick="hideItem()">Lemon</button>
                                    <button onclick="hideItem()">Orange</button>
                                    <button onclick="hideItem()">Papaya</button>
                                </div>
                        </div>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
        </div>

<script>

    var id;
    function openModal(img, img_id)
    {
       var modal =document.getElementById("fruit_modal");
       var modalImg = document.getElementById("modal_img");
       modalImg.src=img;
       modal.style.display = "block";
       id=img_id;
       console.log("ID ", id)
       
    }

    function hideModal()
    {
        var modal =document.getElementById("fruit_modal");
        modal.style.display = "none";
    }

    function hideItem()
    {
        var item=document.getElementById(id);
        item.style.display="none";
    }

</script>

{% endblock %}